.react-tagsinput {
  background-color: #fff0;
  border: 1px solid #0000 !important;
  overflow: hidden;
  padding-left: 5px;

  display: inline-flex;
  align-items: center;
}

.react-tagsinput-input {
  width: auto !important; /* Ensure the input field adjusts properly */
}
